footer {
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: $footerHeightMobile;
    padding-top: 5px;
    background: $black;
    color: $white;
    text-align: center;

    .social {
        @include responsiveImage;
        display: inline-block;
        width: 30px;
    }

    .contact {
        display: block;
        margin-top: 5px;
        font-size: 12px;
        line-height: 16px;
    }
}

