footer {
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: $footerHeightMobile;
    padding-top: 5px;
    background: $black;
    color: $white;
    text-align: center;

    .social {
        @include responsiveImage;
        display: inline-block;
        width: 30px;
    }

    .contact {
        display: inline-block;
        vertical-align: middle;
        margin: 0 auto;
        font-size: 12px;
        line-height: 16px;

        &.add {
            display: table;
            margin-top: 5px;
        }
        &.tel {
            @include sm {
                pointer-events: none;
            }
        }
        &.em {
            &:before {
                content: '';
                position: relative;
                display: inline-block;
                vertical-align: middle;
                margin-right: 8px;
                width: 1px;
                height: 15px;
                background-color: $green;
            }
        }
    }
}

