/* Variables
=============================================*/
$black: #000;
$white: #fff;
$green: #00a651;
$greenHover: #00c862;
$orange: #d55e33;
$grey: #222;

$serif: '';
$sansSerif: 'Verdana', sans-serif;

$headerHeightMobile: 60px;
$headerHeight: 100px;

$footerHeightMobile: 85px;
