<a href="https://www.facebook.com/7south/" target="_blank" class="social"><img src="../img/fb_icon.png" height="88" width="88" alt="Follow us on Facebook"/></a>
<a href="https://www.instagram.com" target="_blank" class="social"><img src="../img/in_icons.png" height="88" width="88" alt="Follow us on Instagram"/></a>
<a href="https://maps.google.com?saddr=Current+Location&daddr=1396+US-7,+Middlebury,+VT+05753" class="contact">1396 Rt 7 South Unit 4 Middlebury, VT 05753</a>
<a href="tel:802-388-3354" class="contact">802-388-3354</a>