<a id="logo" data-page="home" href="/"><img src="../img/logo.png" height="80" width="81"/></a>

<div id="nav_bkgd">
    <ul id="navigation">
        <li><a class="nav" data-page="home" href="/">Home</a></li>
        <li><a class="nav" data-page="menu" href="/menu">Menu</a></li>
        <li><a class="nav" data-page="gallery" href="/gallery">Gallery</a></li>
        <li><a class="nav" data-page="about" href="/about">About</a></li>
    </ul>
</div>

<div id="mobileBurger">
    <div id="nav-icon2">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
